@import 'tailwindcss';

@font-face {
    font-family: 'Matter';
    src: url('../assets/fonts/Matter-Light.woff2') format('woff2');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Matter';
    src: url('../assets/fonts/Matter-Regular.woff2') format('woff2');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Matter';
    src: url('../assets/fonts/Matter-Medium.woff2') format('woff2');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Matter';
    src: url('../assets/fonts/Matter-SemiBold.woff2') format('woff2');
    font-weight: 600; /* Semibold */
    font-style: normal;
}

@font-face {
    font-family: 'Matter';
    src: url('../assets/fonts/Matter-Bold.woff2') format('woff2');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Matter';
    src: url('../assets/fonts/Matter-Heavy.woff2') format('woff2');
    font-weight: 800; /* Heavy */
    font-style: normal;
}

.radix-themes {
    --default-font-family: 'Matter';
    --heading-font-family: 'Matter';
    --strong-font-family: 'Matter';
}

button:hover {
    cursor: pointer;
    filter: brightness(0.95);
}

.success_toast {
    width: 350px;
    max-width: 350px;
    font-family: 'Matter';
    border-radius: 10px;
    background-color: var(--green-9);
}

.error_toast {
    width: 350px;
    max-width: 350px;
    border-radius: 10px;
    font-family: 'Matter';
    background-color: var(--ruby-10);
}

.info_toast {
    width: 350px;
    max-width: 350px;
    font-family: 'Matter';
    border-radius: 10px;
    background-color: var(--amber-11);
}

.warning_toast {
    width: 350px;
    max-width: 350px;
    font-family: 'Matter';
    border-radius: 10px;
    background-color: var(--orange-11);
}

.warning_toast {
    width: 350px;
    max-width: 350px;
    font-family: 'Matter';
    border-radius: 10px;
    background-color: white;
}
